.topHeader{
  min-height: 66px;
  background: url('../../assets/img/navbg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.topHeadingSpec{
  background: #f6f6f6;
  padding: 15px;
}
@media only screen and (max-width:991px){
  .topHeader{
    display: none;
  }
}