<footer class="myFooter">
    <div class="container">
        <div class="row footTop">
            <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3 footTopCont">
                <h3>Synfin Technologies Limited</h3>
                <p>Lorem ipsum ipsum Lorem idor ipsum</p>
                <ul class="socialLinks">
                    <li><a href="" class="d-flex justify-content-center"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="" class="d-flex justify-content-center"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="" class="d-flex justify-content-center"><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3 footTopCont">
                <h3>Company</h3>
                <ul class="footLinks">
                    <li><a [routerLink]="['/overview']">Company Overview</a></li>
                    <li><a [routerLink]="['/team']">The Team</a></li>
                    <li><a [routerLink]="['/careers']">Careers</a></li>
                    <li><a [routerLink]="['/media']">Media</a></li>
                </ul>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3 footTopCont">
                <h3>Product</h3>
                <ul class="footLinks">
                    <li><a [routerLink]="['/home']">Home</a></li>
                    <li><a [routerLink]="['/features']">Features</a></li>
                    <li><a [routerLink]="['/pricing']">Pricing</a></li>
                    <li><a href="">Get Started</a></li>
                </ul>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3 footTopCont">
                <h3>Help & Support</h3>
                <ul class="footLinks">
                    <li><a [routerLink]="['/contacts']">Contact Us</a></li>
                    <li><a [routerLink]="['/faqs']">FAQ's</a></li>
                </ul>
            </div>
        </div>
        <div class="footBtm">
        <div class="d-flex flex-wrap flex-sm-wrap flex-md-wrap justify-content-between foorCopy">
            <p class="mr-2">&copy; 2020 All Right Reserved. Synfin Technologies Limited</p>
            <ul class="copyLinks">
                <li><a href="">Privacy Policy</a></li>
                <li>|</li>
                <li><a href="">Terms & Conditions</a></li>
            </ul>
        </div>
        </div>
    </div>
</footer>